<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>14640898186-0i94mme4h0tv0m4apui9oahf9imgusfn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.14640898186-0i94mme4h0tv0m4apui9oahf9imgusfn</string>
	<key>API_KEY</key>
	<string>AIzaSyA0rI8CjtOYvOTMX_rKDWirXONAyFX5An8</string>
	<key>GCM_SENDER_ID</key>
	<string>14640898186</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.devoproject</string>
	<key>PROJECT_ID</key>
	<string>devotion-app-235d9</string>
	<key>STORAGE_BUCKET</key>
	<string>devotion-app-235d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:14640898186:ios:ac520eef22f8021aad8d73</string>
</dict>
</plist>